body {
    font-family: Arial, sans-serif;
    color: #4a4a4a;
    background-color: #e0ebf4;
    margin: 0;
    padding: 0;
    text-align: center;
}

a { text-decoration:none }

.header-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    max-width: 1200px; /* 최대 넓이 제한 */
    margin: 0 auto;    /* 화면 가운데 정렬 */
}

.header-title {
    font-size: 4rem;
    color: #b08584;
    margin: 0;
    cursor: pointer;
}

.header-icons {
    position: absolute;
    right: 20px;  /* 오른쪽에 고정 위치 */
    display: flex;
    gap: 15px; /* 아이콘 간의 간격 */
    align-items: center;
    font-size: 0.9rem;
}

.header-icons span {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-icons span span {
    margin-left: 5px;
    color: #333;
}
