<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">
	<!-- 게시글 작성 -->
	<insert id="write" parameterType="com.tlg.model.TmBoard">
		insert into community_info (c_idx, c_title, c_content, c_file, created_at, id) values (community_info_seq.nextval, #{c_title}, #{c_content}, #{c_file}, sysdate, #{id}) 
	</insert>
	<select id="getBoard" resultType="com.tlg.model.TmBoard">
		select * from community_info order by c_idx desc
	</select>
</mapper>