<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="KanbanMapper">

	<resultMap id="KanbanColumnResultMap"
		type="com.tlg.model.KanbanColumn">
		<id property="col_idx" column="col_idx" />
		<result property="col_title" column="col_title" />
		<result property="col_order" column="col_order" />
		<result property="tr_idx" column="tr_idx" />

		<!-- KanbanColumn과 관련된 KanbanCard 리스트를 매핑 -->
		<collection property="cards"
			ofType="com.tlg.model.KanbanCard">
			<id property="card_idx" column="card_idx" />
			<result property="card_title" column="card_title" />
			<result property="card_order" column="card_order" />
			<result property="col_idx" column="col_idx" />
		</collection>
	</resultMap>
	<!-- 칸반컬럼과 칸반카드를 조인해서 특정 여행계획에 속한 정보 가져옴 -->
	
	<select id="getKanbanData" parameterType="int" resultMap="KanbanColumnResultMap">
		SELECT c.col_idx, c.col_title, c.col_order, c.tr_idx,
		ca.card_idx, ca.card_title, ca.card_order, ca.col_idx
		FROM
		KANBAN_COLUMN c
		LEFT JOIN KANBAN_CARD ca ON c.col_idx = ca.col_idx
		WHERE c.tr_idx = #{tr_idx}
		ORDER BY c.col_order, ca.card_order
	</select>

	<!-- 칸반보드에 컬럼추가 -->
	<insert id="insertColumn" parameterType="com.tlg.model.KanbanColumn">
    <selectKey keyProperty="col_idx" resultType="int" order="BEFORE">
        SELECT KANBAN_COLUMN_SEQ.NEXTVAL FROM DUAL
    </selectKey>
	    INSERT INTO KANBAN_COLUMN (col_idx, col_title, col_order, tr_idx)
	    VALUES (#{col_idx}, #{col_title}, #{col_order}, #{tr_idx})
	</insert>


	<!-- 카드 추가 -->
	<insert id="insertCard" parameterType="com.tlg.model.KanbanCard">
		<!-- 시퀀스를 사용하여 자동으로 CARD_IDX 값설쩡.. -->
		<selectKey keyProperty="card_idx" resultType="int"
			order="BEFORE">
			SELECT KANBAN_CARD_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO KANBAN_CARD (card_idx, col_idx, card_title, card_order)
		VALUES (#{card_idx}, #{col_idx}, #{card_title}, #{card_order})
	</insert>

	<!-- 컬럼 순서 업데이트 -->
	<update id="updateColumnOrder"
		parameterType="com.tlg.model.KanbanColumn">
		UPDATE KANBAN_COLUMN
		SET col_order = #{col_order}
		WHERE col_idx = #{col_idx}
	</update>
	
	<update id="updateColumnTitle">
    UPDATE kanban_column
    SET col_title = #{col_title}
    WHERE col_idx = #{col_idx}
	</update>
	
	
	<!-- 카드 타이틀 업데이트 -->
	<update id="updateCardTitle" parameterType="com.tlg.model.KanbanCard">
	    UPDATE KANBAN_CARD
	    SET card_title = #{card_title}
	    WHERE card_idx = #{card_idx}
	</update>

	<!-- 카드 순서 업데이트 -->
	<update id="updateCardOrder"
		parameterType="com.tlg.model.KanbanCard">
		UPDATE KANBAN_CARD
		SET card_order = #{card_order}, col_idx = #{col_idx}
		WHERE card_idx = #{card_idx}
	</update>

	<delete id="deleteCardsByColumnId" parameterType="int">
	    DELETE FROM KANBAN_CARD WHERE col_idx = #{col_idx}
	</delete>
	
	<!-- 컬럼 삭제 -->
	<delete id="deleteColumn" parameterType="int">
		DELETE FROM KANBAN_COLUMN
		WHERE col_idx = #{col_idx}
	</delete>

	<!-- 카드 삭제 -->
	<delete id="deleteCard" parameterType="int">
		DELETE FROM KANBAN_CARD
		WHERE card_idx = #{card_idx}
	</delete>

    <!-- 카드 ID로 카드 정보를 가져오기 -->
    <select id="getCardById" parameterType="int" resultType="com.tlg.model.KanbanCard">
        SELECT * FROM KANBAN_CARD WHERE card_idx = #{cardId}
    </select>





</mapper>