<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tlg.database.ScheduleMapper">
    <!-- 스케줄 입력 -->
    <insert id="insertSchedule" parameterType="com.tlg.model.Schedule">
        INSERT INTO TRAVEL_SCHEDULE_INFO (sche_idx, tr_idx, sche_type, sche_dt, id, vote_result)
        VALUES (travel_schedule_info_seq.nexval, #{tr_idx}, #{sche_type}, #{sche_dt}, #{id}, #{vote_result})
    </insert>

    <!-- 스케줄 찾기 -->
    <select id="selectSchedule" parameterType="String" resultType="com.tlg.model.Schedule">
        SELECT * FROM TRAVEL_SCHEDULE_INFO WHERE tr_idx = #{tr_idx}
    </select>
    
    
    
</mapper>
